.main-container {
  margin: 3% auto;
  width: 85%;
}

.appbar-div {
  display: flex;
  margin-right: 8%;
  width:200px;
  justify-content: space-evenly;
}

.note-container {
  flex-grow: 1;
  padding: 3;
  margin-top: 70px;
}

.add-note-container {
  width: 50%;
  margin: 3% auto;
  padding: 0 2% 0 2%;
  border-radius: 8px;
}
.item-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
